{% extends "login_base.html" %}
{% block title %}Forget Password{% endblock %}
{% block pagecontent %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
                        <div class="card-body">
                            <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                            <form action = "/forget_password" method="post" >
                                <div class="form-floating mb-3">
                                    <input required="true" class="form-control" id="forgetinputEmail" name="forgetinputEmail" type="email" placeholder="name@example.com" />
                                    <label for="forgetinputEmail">Email address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input required="true" class="form-control" id="inputPassword" name="inputPassword"  type="password" placeholder="**********" />
                                    <label for="inputPassword">New Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input required="true" class="form-control" id="inputPasswordConfirm" name="inputPasswordConfirm"  type="password" placeholder="**********" />
                                    <label for="inputPasswordConfirm">Confirm Password</label>
                                </div>

                                 <div class="form-floating mb-3">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" style="text-align:center" role="alert">
                                        {{ message }}
                                        <span class="closebtnalert" onclick="this.parentElement.style.display='none';">&times;</span>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </div>

                                 <div class="form-check mb-3">
                                    <input class="form-check-input" id="forgetpswterms" name="forgetpswterms" type="checkbox"/>
                                    <label class="form-check-label" for="forgetpswterms">I Accept Terms and Conditions</label>
                                </div>

<!--                                <div class="form-floating mb-3">-->
<!--                                    <input class="form-check-input" id="forgetpswterms" name="forgetpswterms" type="checkbox"/>-->
<!--                                    <label class="form-check-label" for="forgetpswterms">I Accept Terms and Conditions</label>-->
<!--                                </div>-->
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small" href="{{ url_for('login') }}">Return to login</a>

                                    <div class="d-grid"><button type="submit" class="btn btn-primary btn-block" onclick="return Validate()">Reset Password</button></div>
<!--                                    <a class="btn btn-primary" href="{{ url_for('login') }}">Reset Password</a>-->
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href="{{ url_for('registration') }}">Need an account? Sign up!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}